@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --neutral-100-color: #ffffff;
  --neutral-95-color: #f2f2f2;
  --neutral-90-color: #e5e5e5;
  --neutral-85-color: #cfcfcf;
  --neutral-80-color: #bfbfbf;
  --neutral-75-color: #b3b3b3;
  --neutral-70-color: #a6a6a6;
  --neutral-65-color: #999999;
  --neutral-60-color: #8c8c8c;
  --neutral-55-color: #7d7d7d;
  --neutral-50-color: #6e6e6e;
  --neutral-45-color: #595959;
  --neutral-40-color: #4f4f4f;
  --neutral-35-color: #434343;
  --neutral-30-color: #333333;
  --neutral-25-color: #262626;
  --neutral-20-color: #1f1f1f;
  --neutral-15-color: #141414;
  --neutral-10-color: #0a0a0a;
  --neutral-0-color: #000000;
  --primary-100-color: #f4f5f9;
  --primary-90-color: #e3ecf6;
  --primary-80-color: #cddff0;
  --primary-70-color: #aacae6;
  --primary-60-color: #82afd8;
  --primary-50-color: #6593cc;
  --primary-40-color: #527bbe;
  --primary-30-color: #4a69ab;
  --primary-20-color: #42578b;
  --primary-10-color: #2c416d;
  --primary-5-color: #252b37;
  --primary-0-color: #212e4a;
  --semantic-rhino-100-color: #f0f1f5;
  --semantic-rhino-90-color: #e3ecf6;
  --semantic-rhino-80-color: #cddff0;
  --semantic-rhino-70-color: #aacae6;
  --semantic-rhino-60-color: #82afd8;
  --semantic-rhino-50-color: #6593cc;
  --semantic-rhino-40-color: #527bbe;
  --semantic-rhino-30-color: #4a69ab;
  --semantic-rhino-20-color: #42578b;
  --semantic-rhino-10-color: #2c416d;
  --semantic-rhino-5-color: #252b37;
  --semantic-rhino-0-color: #212e4a;
  --semantic-sun-100-color: #fffbe6;
  --semantic-sun-90-color: #fff1b8;
  --semantic-sun-80-color: #ffe58f;
  --semantic-sun-70-color: #ffd666;
  --semantic-sun-60-color: #ffc53d;
  --semantic-sun-50-color: #faad14;
  --semantic-sun-40-color: #c88004;
  --semantic-sun-30-color: #ad6800;
  --semantic-sun-20-color: #874d00;
  --semantic-sun-10-color: #613400;
  --semantic-sun-0-color: #403426;
  --semantic-emerald-100-color: #edfcf5;
  --semantic-emerald-90-color: #d4f7e5;
  --semantic-emerald-80-color: #aceed1;
  --semantic-emerald-70-color: #77deb6;
  --semantic-emerald-60-color: #3fc897;
  --semantic-emerald-50-color: #1ba77a;
  --semantic-emerald-40-color: #0f8c66;
  --semantic-emerald-30-color: #0c7054;
  --semantic-emerald-20-color: #0c5944;
  --semantic-emerald-10-color: #0c5944;
  --semantic-emerald-0-color: #26403a;
  --semantic-valencia-100-color: #fdf3f3;
  --semantic-valencia-90-color: #fce4e4;
  --semantic-valencia-80-color: #facece;
  --semantic-valencia-70-color: #f5acac;
  --semantic-valencia-60-color: #ed7c7c;
  --semantic-valencia-55-color: #f9565a;
  --semantic-valencia-50-color: #df4444;
  --semantic-valencia-40-color: #cd3535;
  --semantic-valencia-30-color: #ac2929;
  --semantic-valencia-20-color: #8f2525;
  --semantic-valencia-10-color: #772525;
  --semantic-valencia-0-color: #402626;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.457 0.24 277.023);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.785 0.115 274.713);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.511 0.262 276.966);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.511 0.262 276.966);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --surface-background: var(--primary-100-color);
  --surface-default-inverse: var(--neutral-100-color);
  --surface-default-dim: var(--neutral-100-color);
  --surface-default-const: var(--neutral-100-color);
  --surface-black-const: var(--neutral-25-color);
  --surface-black-dim: var(--neutral-25-color);
  --surface-black-inverse: var(--neutral-25-color);
  --surface-disabled: var(--neutral-90-color);
  --surface-brand-primary: var(--primary-10-color);
  --surface-brand-secondary: var(--primary-20-color);
  --surface-brand-tertiary: var(--primary-30-color);
  --surface-brand-light-dim: var(--primary-90-color);
  --surface-brand-light: var(--primary-90-color);
  --surface-brand-inverse: var(--primary-10-color);
  --surface-brand-dim: var(--primary-10-color);
  --surface-neutral-primary: var(--neutral-95-color);
  --surface-neutral-secondary: var(--neutral-90-color);
  --surface-neutral-tertiary: var(--neutral-80-color);
  --surface-yellow: var(--semantic-sun-50-color);
  --surface-yellow-light: var(--semantic-sun-100-color);
  --surface-green: var(--semantic-emerald-40-color);
  --surface-green-light: var(--semantic-emerald-100-color);
  --surface-red: var(--semantic-valencia-40-color);
  --surface-red-light: var(--semantic-valencia-100-color);
  --surface-blue: var(--semantic-rhino-10-color);
  --surface-blue-light: var(--semantic-rhino-90-color);
  --surface-warning-primary: var(--semantic-sun-50-color);
  --surface-warning-secondary: var(--semantic-sun-40-color);
  --surface-warning-tertiary: var(--semantic-sun-30-color);
  --surface-warning-light: var(--semantic-sun-100-color);
  --surface-success-primary: var(--semantic-emerald-40-color);
  --surface-success-secondary: var(--semantic-emerald-30-color);
  --surface-success-tertiary: var(--semantic-emerald-20-color);
  --surface-success-light: var(--semantic-emerald-100-color);
  --surface-error-primary: var(--semantic-valencia-40-color);
  --surface-error-secondary: var(--semantic-valencia-30-color);
  --surface-error-tertiary: var(--semantic-valencia-20-color);
  --surface-error-light: var(--semantic-valencia-100-color);
  --surface-info-primary: var(--semantic-rhino-10-color);
  --surface-info-secondary: var(--semantic-rhino-20-color);
  --surface-info-tertiary: var(--semantic-rhino-30-color);
  --surface-info-light: var(--semantic-rhino-90-color);
  --text-large-primary: var(--neutral-20-color);
  --text-large-secondary: var(--neutral-45-color);
  --text-large-tertiary: var(--neutral-60-color);
  --text-small-primary: var(--neutral-20-color);
  --text-small-secondary: var(--neutral-45-color);
  --text-small-tertiary: var(--neutral-60-color);
  --text-disabled: var(--neutral-50-color);
  --text-nonselected: var(--neutral-60-color);
  --text-white: var(--neutral-100-color);
  --text-white-inverse: var(--neutral-100-color);
  --text-black: var(--neutral-20-color);
  --text-brand-primary: var(--primary-10-color);
  --text-brand-secondary: var(--primary-20-color);
  --text-brand-tertiary: var(--primary-30-color);
  --text-brand-inverse: var(--primary-10-color);
  --text-yellow: var(--semantic-sun-40-color);
  --text-green: var(--semantic-emerald-40-color);
  --text-red: var(--semantic-valencia-40-color);
  --text-blue: var(--semantic-rhino-10-color);
  --text-warning-primary: var(--semantic-sun-40-color);
  --text-warning-secondary: var(--semantic-sun-30-color);
  --text-warning-tertiary: var(--semantic-sun-20-color);
  --text-success-primary: var(--semantic-emerald-40-color);
  --text-success-secondary: var(--semantic-emerald-30-color);
  --text-success-tertiary: var(--semantic-emerald-20-color);
  --text-error-primary: var(--semantic-valencia-40-color);
  --text-error-secondary: var(--semantic-valencia-30-color);
  --text-error-tertiary: var(--semantic-valencia-20-color);
  --text-info-primary: var(--semantic-rhino-10-color);
  --text-info-secondary: var(--semantic-rhino-20-color);
  --text-info-tertiary: var(--semantic-rhino-30-color);
  --icon-primary: var(--neutral-20-color);
  --icon-secondary: var(--neutral-45-color);
  --icon-tertiary: var(--neutral-60-color);
  --icon-disabled: var(--neutral-65-color);
  --icon-nonselected: var(--neutral-80-color);
  --icon-white: var(--neutral-100-color);
  --icon-white-inverse: var(--neutral-100-color);
  --icon-black: var(--neutral-20-color);
  --icon-brand-primary: var(--primary-10-color);
  --icon-brand-secondary: var(--primary-20-color);
  --icon-brand-tertiary: var(--primary-30-color);
  --icon-brand-inverse: var(--primary-10-color);
  --icon-yellow: var(--semantic-sun-60-color);
  --icon-green: var(--semantic-emerald-40-color);
  --icon-red: var(--semantic-valencia-40-color);
  --icon-blue: var(--semantic-rhino-10-color);
  --icon-warning-primary: var(--semantic-sun-60-color);
  --icon-warning-secondary: var(--semantic-sun-40-color);
  --icon-warning-tertiary: var(--semantic-sun-30-color);
  --icon-success-primary: var(--semantic-emerald-40-color);
  --icon-success-secondary: var(--semantic-emerald-30-color);
  --icon-success-tertiary: var(--semantic-emerald-20-color);
  --icon-error-primary: var(--semantic-valencia-40-color);
  --icon-error-secondary: var(--semantic-valencia-30-color);
  --icon-error-tertiary: var(--semantic-valencia-20-color);
  --icon-info-primary: var(--semantic-rhino-10-color);
  --icon-info-secondary: var(--semantic-rhino-20-color);
  --icon-info-tertiary: var(--semantic-rhino-30-color);
  --border-primary: var(--neutral-95-color);
  --border-secondary: var(--neutral-90-color);
  --border-tertiary: var(--neutral-60-color);
  --border-white: var(--neutral-100-color);
  --border-white-dim: var(--neutral-100-color);
  --border-disabled: var(--neutral-90-color);
  --border-black-inverse: var(--neutral-20-color);
  --border-brand-primary: var(--primary-10-color);
  --border-brand-secondary: var(--primary-20-color);
  --border-brand-tertiary: var(--primary-30-color);
  --border-brand-dim: var(--primary-10-color);
  --border-brand-inverse: var(--primary-10-color);
  --border-yellow: var(--semantic-sun-40-color);
  --border-green: var(--semantic-emerald-40-color);
  --border-red: var(--semantic-valencia-40-color);
  --border-blue: var(--semantic-rhino-10-color);
  --border-warning-primary: var(--semantic-sun-40-color);
  --border-warning-secondary: var(--semantic-sun-30-color);
  --border-warning-tertiary: var(--semantic-sun-20-color);
  --border-success-primary: var(--semantic-emerald-40-color);
  --border-success-secondary: var(--semantic-emerald-30-color);
  --border-success-tertiary: var(--semantic-emerald-20-color);
  --border-error-primary: var(--semantic-valencia-40-color);
  --border-error-secondary: var(--semantic-valencia-30-color);
  --border-error-tertiary: var(--semantic-valencia-20-color);
  --border-info-primary: var(--semantic-rhino-10-color);
  --border-info-secondary: var(--semantic-rhino-20-color);
  --border-info-tertiary: var(--semantic-rhino-30-color);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.398 0.195 277.366);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.785 0.115 274.713);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.511 0.262 276.966);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.585 0.233 277.117);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --surface-background: var(--neutral-10-color);
  --surface-default-inverse: var(--neutral-15-color);
  --surface-default-dim: var(--neutral-25-color);
  --surface-black-const: var(--neutral-20-color);
  --surface-black-dim: var(--neutral-30-color);
  --surface-black-inverse: var(--neutral-100-color);
  --surface-disabled: var(--neutral-20-color);
  --surface-brand-primary: var(--primary-20-color);
  --surface-brand-secondary: var(--primary-30-color);
  --surface-brand-tertiary: var(--primary-40-color);
  --surface-brand-light-dim: var(--neutral-25-color);
  --surface-brand-light: var(--primary-5-color);
  --surface-brand-inverse: var(--neutral-20-color);
  --surface-brand-dim: var(--neutral-30-color);
  --surface-neutral-primary: var(--neutral-20-color);
  --surface-neutral-secondary: var(--neutral-30-color);
  --surface-neutral-tertiary: var(--neutral-40-color);
  --surface-yellow: var(--semantic-sun-60-color);
  --surface-yellow-light: var(--semantic-sun-0-color);
  --surface-green: var(--semantic-emerald-40-color);
  --surface-green-light: var(--semantic-emerald-0-color);
  --surface-red: var(--semantic-valencia-55-color);
  --surface-red-light: var(--semantic-valencia-0-color);
  --surface-blue: var(--semantic-rhino-20-color);
  --surface-blue-light: var(--semantic-rhino-5-color);
  --surface-warning-primary: var(--semantic-sun-60-color);
  --surface-warning-secondary: var(--semantic-sun-70-color);
  --surface-warning-tertiary: var(--semantic-sun-80-color);
  --surface-warning-light: var(--semantic-sun-0-color);
  --surface-success-primary: var(--semantic-emerald-40-color);
  --surface-success-secondary: var(--semantic-emerald-50-color);
  --surface-success-tertiary: var(--semantic-emerald-60-color);
  --surface-success-light: var(--semantic-emerald-0-color);
  --surface-error-primary: var(--semantic-valencia-55-color);
  --surface-error-secondary: var(--semantic-valencia-60-color);
  --surface-error-tertiary: var(--semantic-valencia-70-color);
  --surface-error-light: var(--semantic-valencia-0-color);
  --surface-info-primary: var(--semantic-rhino-20-color);
  --surface-info-secondary: var(--semantic-rhino-30-color);
  --surface-info-tertiary: var(--semantic-rhino-40-color);
  --surface-info-light: var(--semantic-rhino-5-color);
  --text-large-primary: var(--neutral-90-color);
  --text-large-secondary: var(--neutral-80-color);
  --text-large-tertiary: var(--neutral-60-color);
  --text-small-primary: var(--neutral-90-color);
  --text-small-secondary: var(--neutral-80-color);
  --text-small-tertiary: var(--neutral-60-color);
  --text-disabled: var(--neutral-45-color);
  --text-nonselected: var(--neutral-60-color);
  --text-white: var(--neutral-100-color);
  --text-white-inverse: var(--neutral-20-color);
  --text-black: var(--neutral-20-color);
  --text-brand-primary: var(--primary-70-color);
  --text-brand-secondary: var(--primary-80-color);
  --text-brand-tertiary: var(--primary-90-color);
  --text-brand-inverse: var(--primary-100-color);
  --text-yellow: var(--semantic-sun-40-color);
  --text-green: var(--semantic-emerald-50-color);
  --text-red: var(--semantic-valencia-60-color);
  --text-blue: var(--semantic-rhino-50-color);
  --text-warning-primary: var(--semantic-sun-40-color);
  --text-warning-secondary: var(--semantic-sun-50-color);
  --text-warning-tertiary: var(--semantic-sun-60-color);
  --text-success-primary: var(--semantic-emerald-50-color);
  --text-success-secondary: var(--semantic-emerald-60-color);
  --text-success-tertiary: var(--semantic-emerald-70-color);
  --text-error-primary: var(--semantic-valencia-60-color);
  --text-error-secondary: var(--semantic-valencia-70-color);
  --text-error-tertiary: var(--semantic-valencia-80-color);
  --text-info-primary: var(--semantic-rhino-70-color);
  --text-info-secondary: var(--semantic-rhino-80-color);
  --text-info-tertiary: var(--semantic-rhino-90-color);
  --icon-primary: var(--neutral-95-color);
  --icon-secondary: var(--neutral-80-color);
  --icon-tertiary: var(--neutral-60-color);
  --icon-disabled: var(--neutral-45-color);
  --icon-nonselected: var(--neutral-45-color);
  --icon-white: var(--neutral-100-color);
  --icon-white-inverse: var(--neutral-20-color);
  --icon-black: var(--neutral-20-color);
  --icon-brand-primary: var(--primary-50-color);
  --icon-brand-secondary: var(--primary-60-color);
  --icon-brand-tertiary: var(--primary-70-color);
  --icon-brand-inverse: var(--neutral-100-color);
  --icon-yellow: var(--semantic-sun-60-color);
  --icon-green: var(--semantic-emerald-50-color);
  --icon-red: var(--semantic-valencia-60-color);
  --icon-blue: var(--semantic-rhino-50-color);
  --icon-warning-primary: var(--semantic-sun-60-color);
  --icon-warning-secondary: var(--semantic-sun-70-color);
  --icon-warning-tertiary: var(--semantic-sun-80-color);
  --icon-success-primary: var(--semantic-emerald-50-color);
  --icon-success-secondary: var(--semantic-emerald-60-color);
  --icon-success-tertiary: var(--semantic-emerald-70-color);
  --icon-error-primary: var(--semantic-valencia-60-color);
  --icon-error-secondary: var(--semantic-valencia-70-color);
  --icon-error-tertiary: var(--semantic-valencia-80-color);
  --icon-info-primary: var(--semantic-rhino-50-color);
  --icon-info-secondary: var(--semantic-rhino-60-color);
  --icon-info-tertiary: var(--semantic-rhino-70-color);
  --border-primary: var(--neutral-25-color);
  --border-secondary: var(--neutral-30-color);
  --border-tertiary: var(--neutral-60-color);
  --border-white: var(--neutral-100-color);
  --border-white-dim: var(--neutral-30-color);
  --border-disabled: var(--neutral-15-color);
  --border-black-inverse: var(--neutral-90-color);
  --border-brand-primary: var(--primary-30-color);
  --border-brand-secondary: var(--primary-40-color);
  --border-brand-tertiary: var(--primary-50-color);
  --border-brand-dim: var(--neutral-25-color);
  --border-brand-inverse: var(--neutral-100-color);
  --border-yellow: var(--semantic-sun-40-color);
  --border-green: var(--semantic-emerald-40-color);
  --border-red: var(--semantic-valencia-60-color);
  --border-blue: var(--semantic-rhino-30-color);
  --border-warning-primary: var(--semantic-sun-40-color);
  --border-warning-secondary: var(--semantic-sun-50-color);
  --border-warning-tertiary: var(--semantic-sun-60-color);
  --border-success-primary: var(--semantic-emerald-40-color);
  --border-success-secondary: var(--semantic-emerald-50-color);
  --border-success-tertiary: var(--semantic-emerald-60-color);
  --border-error-primary: var(--semantic-valencia-60-color);
  --border-error-secondary: var(--semantic-valencia-70-color);
  --border-error-tertiary: var(--semantic-valencia-80-color);
  --border-info-primary: var(--semantic-rhino-30-color);
  --border-info-secondary: var(--semantic-rhino-40-color);
  --border-info-tertiary: var(--semantic-rhino-50-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-mono;
  }
}
